<meta charset="UTF-8">
<link href="css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/stream.css" media="screen" rel="stylesheet" type="text/css">
<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
<script src="js/filter.js" type="text/javascript"></script>
<script src="data/publications.js" type="text/javascript"></script>
<script src="js/page_publications.js" type="text/javascript"></script>

<body>
	<div class="container">
		<div class="sidebar col-md-3">
			<div>
				<h4 class='col-md-6'>Results (<span id="num_of_records">0</span>)</h4>
			</div>
			
			<div>
				<label class="sr-only" for="searchbox">Search</label>
				<input type="text" class="form-control" id="searchbox" 
					placeholder="Search &hellip;">
				<span class="glyphicon glyphicon-search search-icon"></span>
			</div>
			
			<br>
			
			<div class="well">
				<fieldset id="year_criteria">
					<legend>Year</legend>
						<span id="year_range_label" class="slider-label">2013 - 2021</span>
					<div id="year_slider" class="slider">
					</div>
					<input type="hidden" id="year_filter" value="2013-2021">
				</fieldset>
			</div>

			<div class="well">
				<fieldset id="cat_criteria">
					<legend>Publication Type</legend>
					<select class="form-control" id="cat_filter">
						<option value="publication">Publications</option>
						<option value="conference">Conference Presentations</option>
					</select>
				</fieldset>
			</div>

			<div class="well">
				<fieldset id="kw_criteria"> <!-- key words -->
					<legend>Research Topics</legend>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="All" id="all_kw">
							<span>All</span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="Carbon and Water Cycles">
							<span>Carbon and Water Cycles</span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="Data Analytics">
							<span>Data Analytics</span>
						</label>
					</div>
					<div class="checkbox">
 						<label>
							<input type="checkbox" value="Dryland Ecology">
							<span>Dryland Ecology</span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="Remote Sensing">
							<span>Remote Sensing</span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="Shrub Demographics">
							<span>Shrub Demographics</span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="Shrub Encroachment">
							<span>Shrub Encroachment</span>
						</label>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="col-md-9">
			<div class="movies content row" id="pubs"> </div>
		</div>

	</div>

	<script id="pub-template" type="text/html">
		<div class="pub">
				<div class="pub_item">
					<h4><a href = "<%= doi %>" target = "_blank" rel = "noopener">
						<%= title %></a>
					</h4>
					<div class="doi">
						<%= doi %>
					</div>
					<div class="detail">
						<dl>
							<dd><%= authors %></dd>
							<dd>
									<i><%= journal %></i>, <%= volume %>, <%= pages %> 
									(<%= year %>).
							</dd>
						</dl>
					</div>
				</div>
		</div>
	</script>
	
</body>